<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snippet Box</title>
    <link rel="stylesheet" href="/frontend/css/styles.css" />
  </head>
  <body>
    <div id="snippet_box_container">
      <h1>Welcome to Snippet Box</h1>
      <div class="snippet_box_tabs">
        <ul>
          <div class="home_create_tab">
            <li class="home-tab">Home</li>
            <li class="create-tab">Create Snippet</li>
          </div>
          <div class="logout-tab">
            <li>Logout</li>
          </div>
        </ul>
      </div>

      <div id="snippet_box_info">
        <div class="snippet_box_title">
          <p>Title:</p>
          <input type="text" />
        </div>

        <div class="snippet_box_content">
          <p>Content:</p>
          <textarea name="snippet-content" id="snippet-content"></textarea>
        </div>

        <div class="snippet_code_delete">
          <label>Delete in:</label>
          <input type="radio" name="expires" value="365" checked>
          <label>One Year</label>
          <input type="radio" name="expires" value="7">
          <label>One Week</label>
          <input type="radio" name="expires" value="1">
          <label>One Day</label>
        </div>

        <div class="snippet_code_publish">
          <button>Publish snippet</button>
        </div>
      </div>
    </div>
  </body>
</html>
