{{define "title"}}Home{{end}} {{define "main"}}
<div id="section-container">
  <div class="balance-wrapper">
    <div class="balance-container">
      <p class="balance">Your balance</p>
      <p class="balance-date">As of <span></span>{{.Date}}</p>
    </div>
    <div class="balance-amount">₦{{.Balance}}</div>
  </div>

  <div>
    <div class="features-wrapper">
      <div class="feature-transfer">
        <form action="/transfer" method="POST">
          <div class="label">
            <label for="transfer-to">Transfer to</label>
            <input
              type="text"
              id="transfer-to"
              name="transfer-to"
              placeholder="Enter recipient's account number"
            />
          </div>
          <div class="label">
            <label for="transfer-amount">Amount</label>
            <input type="text" id="transfer-amount" name="transfer-amount" />
          </div>
          <button type="submit" id="transfer-button">Transfer</button>
        </form>
      </div>

      <div class="feature-deposit">
        <form action="/deposit" method="POST">
          <label for="deposit-amount">Deposit Amount</label>
          <input
            type="text"
            id="deposit-amount"
            name="deposit-amount"
            placeholder="Enter deposit amount"
          />
          <button type="submit" id="deposit-button">Deposit</button>
        </form>
      </div>

      <div class="feature-withdraw">
        <form action="/withdraw" method="POST">
          <label for="withdraw-amount">Withdraw Amount</label>
          <input
            type="text"
            id="withdraw-amount"
            name="withdraw-amount"
            placeholder="Enter withdrawal amount"
          />
          <button type="submit" id="withdraw-button">Withdraw</button>
        </form>
      </div>
    </div>
    <button><a href="/logout">Logout</a></button>
  </div>
</div>
{{end}}
